




.wrapper {
    margin: 0 auto;
    width: 90%;
  }

  /* .cards {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards .cardStyle {
    border: 5px solid #48616D;
    border-radius: 10px;
    background-color: #DA7596;
    color: #fff;
    /* Three values: flex-grow | flex-shrink | flex-basis */
    /* flex: 1 1 300px;
  }
  
  .cards h2 {
    background-color: #7DFDDD;
    margin: 0;
    padding: 20px;
  }

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 100px;
  }
  
  .flex .cardStyle {
     /* Three values: flex-grow | flex-shrink | flex-basis */
    /* flex: 1 1 300px;
    margin: 0px;
    
  } */ 